.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 60px;
  text-align: center;
  background: #04644b;
  color: white;
  font-size: 30px;
}

.App-link {
  color: #61dafb;
}

.banklogo {
  background-image: url(./bank_logo_white.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding-top: 50px;
}

.loginheader {
  height: 74px;
  padding: 2px 2px 2px 2px;
  background-color: #04644b;
  box-sizing: border-box;
}

.loginformheader {
  text-align: center;
  background-color: #003c2a;
  color: #ffffff;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
}

.loginspacer {
  width: 321px;
  height: 47px;
  padding: 2px 2px 2px 2px;
  box-sizing: border-box;
}

.loginforms {
  background-color: #04644b;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loginsubmit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.accountbalance {
  font-size: 40px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
